
<footer id="footer" class="footer light-background">

    <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Imagination</strong> <span>All Rights Reserved</span></p>
    </div>

</footer>