@model Imagination.Application.DTOs.CreateCommentDto
@{
    var formId = $"createCommentForm_{Model.PostId}";
    var inputId = $"commentContent_{Model.PostId}";
}
<form id="@formId" asp-controller="Post" asp-action="CreateComment" method="POST" autocomplete="off" data-post-id="@Model.PostId">
    <div class="d-flex align-items-center mt-2">
        <input type="hidden" name="PostId" value="@Model.PostId" />
        <input type="text" id="@inputId" name="Content" class="form-control border-0 form-control-sm me-2"
               style="max-height: 20px;" placeholder="Add comment" />
        <button type="submit" class="btn btn-primary btn-sm">Send</button>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
</form>
