@model Imagination.Application.DTOs.EmailAddressDto
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="card-img-left forgotpass d-none d-md-flex"></div>
<div class="card-body p-4 p-sm-5">
    <h5 class="card-title text-center fw-light fs-5">Forgot Password</h5>
    <p class="m-0 mb-4 text-secondary text-center">Enter your email address</p>

    <form asp-controller="Account" asp-action="ForgotPassword" method="POST" autocomplete="off">

        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="Email" id="Email" asp-for="Email" placeholder="name@example.com" required>
            <label for="Email">Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="d-grid mb-2">
            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Send</button>
        </div>

        <p class="m-0 text-secondary text-center">Go back to <a asp-controller="Home" asp-action="Index" class="link-primary text-decoration-none">Home</a></p>


    </form>
</div>